* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

:root {
  --blue: #226ed8;
  --black: #111111;
  --gray9: #171717;
  --white: #fdfdfd;
  --alice-blue: #f2f3f4;
  --purple: #3f3d56;
  --whisper: #e6e6e6;
  --gray90: #e5e5e5;
}

/* First section*/
.first-section {
  height: 554px;
  position: relative;
  overflow: hidden;
}

.background-image {
  position: absolute;
  width: 100%;
  object-fit: cover;
  opacity: 15%;
}
.content-container {
  padding: 30px 30px 50px 90px;
  height: 554px;
}

.header {
  display: flex;
  align-items: center;
  position: relative;
}

.header p {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  font-family: Ubuntu Mono, sans-serif;
  opacity: 0.5;
}

.header img {
  width: 32px;
  height: 54px;
  margin-right: 8px;
}

.main-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60%;
  margin-top: 92px;
  margin-bottom: 20px;
  font-family: Ubuntu, sans-serif;
}

.left-content-main{
  width: 30%;
  position: absolute;
}

.left-content-main h2 {
  font-size: 33px;
  line-height: 48px;
  font-weight: 400;
  display: block;
}

.left-content-main h2 strong {
  font-size: 34px;
  line-height: 48px;
  font-weight: 500;
}

.left-content-main span {
  display: block;
  color: rgba(17, 17, 17, 0.5);
  margin: 20px 0 20px 0;
  font-family: Ubuntu, sans-serif;
}
.date {
  color: var(--blue);
}

.links{
  display: flex;
}
.enroll {
  width: 137px;
  height: 45px;
  font-size: 18px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 25px;
  margin-right: 20px;
  border: none;
  transition: background-color .4s;
  outline: none;
}

.enroll:hover {
  cursor: pointer;
  background-color: transparent;
  color: var(--blue);
  border: 1px solid var(--blue);
}
.edict{
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;

}
.edict a{
  text-decoration: none;
  color: var(--blue);
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin-right: 7px;
}

.edict:hover{
  cursor: pointer;
}

.social-media {
  position: absolute;
  top: 50px;
  right: 70px;
}
.social-media a {
  display: block;
  text-decoration: none;
  margin-bottom: 15px;
}

.social-media img {
  width: 20px;
  height: 20px;
}

/* ------------- Second section -------------------*/
.second-section {
  position: relative;
}

.second-content-container {
  padding: 49px 30px 50px 90px;
}

.header-second-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
  position: relative;
}

.about-us{
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
}

.question{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--black);
  border-radius: 100%;
  margin-right: 5%;
  position: fixed;
  right: 2%;
}

.question span{
  font-size: 16px;
  line-height: 26px;
  margin-right: 3px;
  display: none;
  color: var(--white);
  white-space: nowrap;
}

.question img{
  padding: 6px;
  width: 35px;
  height: 35px;
}

.question:hover{
  cursor: pointer;
  border-radius: 25px;
  width: 170px;
  animation: showBox .7s forwards;
}

.question:hover span{
  margin-left: 10px;
  display: inline;
  animation: showSentence .7s forwards;
}

.about-company{
  display: flex;
  margin-bottom: 80px;
}
.carousel-container{
  display: flex;
  overflow: hidden;
  width: 347px;
  height: 272px;
  margin: 0;
  border-radius: 6px 0 0 6px;
 
}

.carousel-slide{
  display: flex;
  width: 100%;
  position: relative;
}

.carousel-slide img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#prevButton{
  position: absolute;
  top: 24%;
  background: none;
  left: 7%;
  z-index: 10px;
  outline: none;
  opacity: 0.5;
}

#nextButton{
  position: absolute;
  top: 24%;
  left: 29%;
  background: none;
  z-index: 10px;
  outline: none;
  opacity: 0.5;
}

#prevButton:hover,
#nextButton:hover{
  opacity: 1;
  cursor: pointer;
  zoom: 1.1;
}

.about {
  background: var(--alice-blue);
  width: 414px;
  height: 272px;
  display: flex;
  border-radius: 6px;
}

.about p {
  display: block;
  padding: 40px;
  font-size: 16px;
  line-height: 25px;
  color: var(--black);
  opacity: 0.8;
  text-align: justify;
  font-weight: 400;
}

.vagas{
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
}

.jobs {
  width: 90%;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 32px;
}

.card-job {
  flex-basis: 30%;
  flex-grow: 1;
  margin: 0 35px 30px 0;
}

.card-job img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  color: var(--blue);
}
.card-job span {
  display: inline;
}

.job-name {
  color: var(--blue);
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
}

.project {
  color: var(--purple);
  opacity: 0.5;
  font-size: 22px;
  line-height: 25px;
  font-weight: 400;
  margin-left: 10px;
}

.description-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  text-align: justify;
  margin-top: 10px;
  padding: 10px 0;
}

.line {
  width: 100%;
  background: var(--white);
  border: 1px solid var(--whisper);
}

/* Third Section*/

.third-content-container {
  padding: 49px 30px 50px 90px;
}

.third-content-container h2 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  margin-bottom: 30px;
}

.logos {
  display: flex;
  width: 85%;
  /* background: var(--black); */
  align-items: center;
  justify-content: space-between;
}

/* .logo {
  width: 200px;
  height: 100px;
  margin-right: 20px;
  overflow: visible;
}
.logo img {
  width: 100px;
  height: 50px;
  object-fit: cover;
  margin-right: 20px;
} */

/* Fourth Section*/
.fourth-section {
  background: var(--gray9);
  height: 400px;
  position: relative;
}
.fourth-content-container {
  padding: 49px 30px 50px 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}
.left-content-footer {
  display: flex;
  align-items: center;
}
.social-media-footer{
  align-items: center;
  justify-content: center;
}
.social-media-footer a {
  display: inline-block;
  text-decoration: none;
  margin-right: 15px;
}

.social-media-footer img {
  width: 20px;
  height: 20px;
}

.unect-site {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: var(--white);
  margin-left: 32px;
  text-decoration: none;
}

.center-content-footer img{
  margin: 8px;
}
.right-content-footer{
  width: 33%;
}
.right-content-footer span{
  font-size: 15px;
  line-height: 26px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.line-footer{
  display: inline-block;
  width: 20%;
  border:1px solid var(--whisper);
  transform:rotate(180deg);
  margin-right: 3px;
  margin-left: 3px;
}

/*Modal*/
.modal-container{
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container.show{
  display: flex;
}

.modal{
  background: var(--white);
  border-radius: 6px;
  width: 350px;
  height: 450px;
  z-index: 2001;
}


.header-modal{
  background: #ECECEC;
  width: 100%;
  border-radius: 6px 6px 0 0;
  height: 80px;
}

#title-header-modal{
  padding: 30px;
  color: var(--blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
}

.main-content-modal{
  padding: 20px 30px 5px 30px;
}


.input-block label{
  display: inline-block;
  color: var(--black);
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  margin: 10px 0;
}

.input-block input,
.input-block textarea{
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  outline: none;
  font-size: 14px;
}

.input-block input:focus,
.input-block textarea:focus{
  border: 2px solid var(--black);
}

.input-block input{
  height: 35px;
  padding: 5px;
}

.input-block textarea{
  height: 110px;
  padding: 5px;
}

.form-buttons{
  display: flex;
  justify-content:flex-end;
  margin-top: 10px; 
}

.form-button{
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  background: none;
  margin-left: 20px;
  cursor: pointer;
  padding: 7px;
  outline: none;
}

#cancel-modal{
  color:rgba(0, 0, 0, 0.4);
}

#submit-modal:hover{
  border: 1px solid var(--blue);
  color: var(--blue);
  border-radius: 10px;
  
}
#cancel-modal:hover{
  border: 1px solid #C72020;
  border-radius: 10px;
  color: #C72020;
}

.show .modal{
  animation: modal .7s;
}

